
.bg_green{
    background-color: #1d673e;
}
.carousel-indicators{
    height: auto;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    max-height: 400px;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
}
a:hover{
    color: orange;
}
/* right canvas css*/
.offcanvas{
    width: fit-content;
}
.txt_w{
    color: white;
}
/* table css*/
.tg_tab1  {border-collapse:collapse;border-spacing:0;}
            .tg_tab1 td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
              overflow:hidden;padding:10px 5px;word-break:normal;}
            .tg_tab1 th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
              font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
            .tg_tab1 .tg-wppm{background-color:#faedb7;border-color:inherit;text-align:left;vertical-align:bottom}
            .tg_tab1 .tg-pii6{background-color:#ff9600;border-color:inherit;text-align:left;vertical-align:middle}

.tg  {border-collapse:collapse;border-spacing:0;}
          .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
            overflow:hidden;padding:10px 5px;word-break:normal;}
          .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
            font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
          .tg .tg-nw00{background-color:#faedb7;border-color:inherit;text-align:left;vertical-align:middle}
          .tg .tg-pii6{background-color:#ff9600;border-color:inherit;text-align:left;vertical-align:middle}


.bttn-custom{
    
    color: #fff;
    display: block;
    position: fixed;
    z-index: 99999999999999999;
    right: -61px;
    transform: rotate(90deg);
    top: 45%;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
/*content css*/
.bgcolor_paleyellow{
    background-color: #faebd7;
}
.bg_transparent{
    border: transparent;
}
.padding_size15{
    padding: 15px;
}
.content_main{
    text-align: justify;
}
.heading_main{
    background-color: #ff9600;
    padding: 6px;
    font-weight: 700;
    font-size: 25px;
    color: #ffff;
}
/* Footer css*/
.logo{
    padding-left: 8%;
    padding-right: 8%;
    max-height: auto;

}
.bgcolor_2{
    background-color: #1d673e;
}
.color_white{
    color:#fff
}
.paddding25{
    padding: 25px;
}
.headingfonts{
    font-weight: 700;

}
.footerlinks{
    display: block;
    color:#ccc;
    padding-top:5px;
}
.fa{
    display: inline-block;
    font:normal;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing:antialiased;
}
.social_icon_bottom a{
    color:#FFF;
    display:block;
    height: 40px;
    width:40px;
    border:1px solid #fff;
    color:#666;
    font-weight:bold;
    line-height: 40px;
    text-align: center;
    margin:3px;
    font-size:22px;
}
.color_1{
color:#ff9000;
}
p{
    margin-top:0 ;
    margin-bottom: 1rem;
}
.heandingfonts{
    font-weight:700;
}
.title{
    font-weight:700;
    font-family:"open sans",sans-serif;
    text-transform: uppercase;
}
.text-uppercase{
    text-transform: uppercase;
}
.para{
    text-align: justify;
    color: #333;
}
.row1{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color:antiquewhite;
}
.headings_cont{
    background-color: #ac0413;
    border-left:7px solid #003c6d;
    padding:7px;
    font-weight:800;
    font-size:25px;
    color:#fff;

}
